body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.calendar-week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: #dadce0 1px solid;
}

.calendar-day {
    display: flex;
    width: 14%;
    aspect-ratio: 1 / 1;
    border-right: #dadce0 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


}
.calendar-day-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 2vw;
    width: 100%;
}
.calendar-day-date-text {
    padding-top: 0.2vw;
    padding-right: 0.6vw;
    color: #4caf50;
}
.calendar-wrapper {
    border-left: #dadce0 1px solid;
    border-top: #dadce0 1px solid;
}
.tracked-time {
    font-size: 6vw;
    margin: auto;
    color: #37474f;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.weekend {
    background-color: #D2D2D2;
}

.tracks-wrapper {
    background-color: #37474f;
}

.issue-subject {
    font-weight: bold;
    font-size: 2.5vw;
    padding: 2vw!important;
    padding-left: 1vw!important;
    padding-right: 1vw!important;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.issue-actions {
    display: flex;
    justify-content: space-between;
    color: #4caf50;

    align-items: center;
    padding: 0!important;
    padding-left: 1vw!important;
    margin-right: 1.5vw!important;
}

.issue-actions-item {
    font-size: 4vw;
}

.issue-order-name {
    font-size: 3vw;
    font-weight: bold;
}

.issue-project-name-wrapper {
    font-size: 1.4vw;
    font-weight: bold;
    padding: 0.5vw!important;
    padding-left: 1vw!important;
}

.issue-hours {
    font-size: 3vw;
    font-weight: bold;
}

.day-title {
    font-size: 3vw;
    padding-top: 0.2vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #37474f;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: #4caf50;
    padding-right: 2vw;
}

.month-title {
    font-size: 4vw;
    padding-top: 0.2vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4caf50;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: #37474f;
    padding-right: 2vw;
}

.month-title-track {
    font-size: 4vw;
}

.menu-icon {
    font-size: 2vw!important;
}

.menu-button {
    background-color: #4b616c;
    height: 4vw;
    width: 4vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.hours-editor {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-wrap: nowrap;
}

.hours-editor input::placeholder {
    font-size: 15vw;
}
.hours-editor input {
    font-size: 15vw!important;
    height: 20vw!important;
}
.hours-editor label {
    font-size: 2.5vw;
    margin-bottom: 1vw;
}
.hours-editor span {
    font-size: 2.5vw;
    margin-bottom: 1vw;
    color: #9e9e9e;
}

.orders-editor {
    margin: 5vw;
}

.order-action-margin {
    margin-block: 5vw;
}

.btn-editor {
    width: 50%;
    font-size: 3vw;
    height: 10vw;
    line-height: 10vw;
}

.btn-ok {
    background-color: #37474f;
    color: #4caf50;
}

.btn-cancel {
    background-color: #ffffff;
    color: #9e9e9e;
}

.editor-actions {
    display: flex;
}
